@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html{
    overflow-y: scroll;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
    background-image: url('../Image/imgDashboard/BACKGROUND_HOME.jpg');
    color: white;
}

.container {
    position: relative;
    width: 100%;
}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: rgba(84, 38, 128, 0.3);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active{
    width: 60px;
}
.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li:hover {
    background-color: rgb(108, 68, 146);
    cursor: pointer;
}

.navigation ul li:nth-child(1):hover {
    background: transparent;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li  .icon .fa  {
    position: relative;
    color: white;
    font-size: 24px;
}

.navigation ul li .title{
    color: #fff;
}

.navigation .sair{
    position: relative;
    color: white;
}


.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0px 0px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.alunoImg {
    width: 90px;
    position: relative;
    margin: 0px 60px 0px 70px;
}

.logo {
    width: 100px;
    margin: 10px;
}

.nome {
    margin: 0px 30px;
}

.main {
    position: absolute;
    width: calc(100% -300px);
    left: 300px;
    min-height: 100vh;
    transition: 0.5s;
}

.main.active {
    width: calc(100% -60px);
    left: 60px;
}

.main .topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.toggle::before{
    content: '\21c7';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    color: #fff;
}
.cardbox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}

.cardbox .card {
    position: relative;
    background-color: rgba(84, 38, 128, 0.3);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    cursor: pointer;
}

.cardbox .card .name {
    position: relative;
    font-size: 2em;
    font-weight: 500;
}

.cardbox .card .numbers {
    color: #999;
}

.cardbox .card .iconebox {
    font-size: 2.5em;
    color: #03a9fa;
}

.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}

.details .activity {
    position: relative;
    min-height: 530px;
    background-color: rgba(84, 38, 128, 0.3);
    padding: 20px;
    border-radius: 5px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2 {
    font-weight: 600;
}

.btn {
    position: relative;
    padding: 5px 10px;
    color: #fff;
    background: #03a9fa;
    text-decoration: none;
    border-radius: 6px;
}

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details table thead td {
    font-weight: 600;
}

.details .activity table tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.details .activity table tbody tr:last-child {
    border-bottom: none;
}

.details .activity table tbody tr:hover {
    background: #03a9fa;
    color: #fff;
}

.details .activity table tr td {
    padding: 9px 5px;
}

.details .activity table thead tr td:last-child,
.details .activity table tbody tr td:last-child {
    text-align: right;
}

.status {
    position: relative;
    padding: 2px 4px;
    border-radius: 4px;
}

.accept {
    background-color: #03a9fa;
}

.pendent {
    background-color: rgb(200, 43, 43);
}

.details .grafic {
    position: relative;
    display: grid;
    min-height: 530px;
    background-color: rgba(84, 38, 128, 0.3);
    padding: 20px;
    border-radius: 5px;
}

.details .grafic .imgBx {
    position: relative;
    padding: 10px;
    border-radius: 20%;
    overflow: hidden;
}

@media (max-width: 992px) {
    .navigation {
        left: -300px;
    }

    .main {
        width: 100%;
        left: 0px;
    }

    .cardbox {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 768px) {
    .details {
        grid-template-columns: repeat(1,1fr);
    }

    .cardHeader h2 {
        font-weight: 600;
        font-size: 18;
    }
}

@media (max-width: 480px) {
    .cardbox {
        grid-template-columns: repeat(1,1fr);
    }
    .details .grafic {
        overflow-x: auto;
    }

    .details .grafic table {
        width: 600px;
    }

    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }

    .navigation .active {
        width: 100%;
        left: 0px; 
    }

    .toggle .active {
        z-index: 10000;
        position: fixed;
        right: 0;
        left: initial;
    }

    .toggle .active::before {
        color: #fff;
    }

    .main,  .main.active {
        width: 100%;
        left: 0;
        flex-wrap: wrap;
    }

    
}