
 html {
    overflow-x: hidden;
}


 /* VÍDEO DE FUNDO */
 @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    /*box-sizing: border-box;*/
}


body{    
    font-family: 'Inconsolata', Courier, monospace;
}

 video{
    position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -1000;
	background: url(Image\BACKGROUND.login.jpg) no-repeat;
	background-size: cover;    
}

.capa{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: 0.5;
    z-index: -1000;
    mix-blend-mode: overlay;
}  

/* Inicio da navbar */

nav {
    margin: 25px;
    overflow: hidden;
    position: relative;
    width: 100%;
    text-decoration: none
}

.navbar {
    padding: 14px 50px;
}

ul {
    margin-right: 50px;
}

li {
    list-style-type: none;
}

.logo {
    float: left;
    display: block;
    padding: 14px 50px;
}

#navegation {
    color: rgba(212, 198, 232, 0.8);
    text-decoration: none;
    float: right;
    display: block;
    font-size: medium;
    margin: 8px;
    padding: 5px 10px;
    border-radius: 8px;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
}

#navegation:hover {
    transition: 0.05s;
    background-color: blueviolet;
    color: #fff;
}

.disabled {
    pointer-events:none; 
    opacity:0.6;         
}
/* Fim da NavBar */

#elemento-pai{  
    /* width: 100%;   */
    position: relative;
    text-align: center;
    justify-items: center; 
}

#imagem2{
  position: absolute;
  bottom: 90px;
  left: 100px;  
}

#imagem1{
    /* height: 350px ; */
    opacity: .1;    
}

/* SELÇÃO LOGIN */

.main-login{      
    width: 100%;
    height: auto;    
    display:inline-flex;
    justify-content: center;  
    align-items: center; /* Centraliza os elementos no eixo y */
    margin-bottom: 60px;
}

.right-login{
    width: 70%;
    height: auto;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.card-login{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 35px;
    background:#2f2841; 
    border-radius: 20px;
    box-shadow: 0px 10px 40px #8e8d8d56;
}

.card-login h1{
    color: #e101ff;
    text-transform: uppercase;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px ;
}

.textfield input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color:#f0ffffde ;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield label{
    color: #f0ffffde ;
    margin-bottom: 10px;
}

.textfield input::placeholder{
    color: #f0ffffde ;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    border: none;
    border-radius: 8px; 
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background-color: #cdbeda;
    cursor: pointer;
    box-shadow: 0px 15px 40px -2px #89018652;
    margin-top: 20px;    
    margin-bottom: 20px;    
}

footer {
    z-index: 2;
    padding: 40px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(104, 22, 122, 0.7682423311121324) 54%, rgba(143, 129, 147, 1) 100%);
    opacity: .5;
    width: 100%;
}

.copyrigth {
    color: white;
    font-size: 13px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.error-text {
    font-size: 12px;
    color: rgb(247, 90, 90);
  }

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column ;
    }   
}





/* --------------------------- */